body {
  background-color: var(--background);
}

.site-header {
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 2rem;
  height: auto;
  margin-left: 1rem;
  margin-right: auto;
}

#theme-form {
  text-align: right;
}

#theme-form label {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
}

#theme-form label:hover {
  transform: scale(1.1);
}

#theme-form input {
  display: none;
}

#generate-form input {
  width: 90%;
}

#generate-form button {
  min-width: 150px;
  width: 46%;
}

.column {
  padding: 1rem;
  background: var(--background-body);
}

@media screen and (min-width: 800px) {
  .columns {
    display: flex;
  }

  .column {
    display: inline-block;
    width: 50%;
  }
}